.arrows-chevron-left_3-944 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_3-945 {
  top: 5px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}