<div class="trip-main-container">
  
  <div class="trip-banner" id="trip-banner">
    <div class="trip-banner-background">
      <img id="image0_2284_329" height="621"
        src="https://storage.googleapis.com/lobosondaphotos.appspot.com/_DSC5496.JPG-1767009063527" />
    </div>
    
    <!-- Navegación superior -->
    <div class="banner-navigation">
      <div class="navigation-rectangle">
        <div class="navigation-internal-rectangle">
          <span class="navigation-item">CHANGE TOUR</span>
          <app-arrows-chevron-right-sm class="arrows-chevron-right-sm_2288-243"></app-arrows-chevron-right-sm>
          <span class="navigation-item-selected">HOME</span>
          <app-arrows-chevron-right-sm class="arrows-chevron-right-sm_2288-243"></app-arrows-chevron-right-sm>
          <div class="gallery-icon_2294-475">
            <img src="assets/svgs/gallery_white.svg" alt="Gallery" width="24" height="24">
          </div>
        </div>
      </div>
    </div>
    
    <!-- Título central -->
    <div class="banner-content">
      <span class="trip-banner-title" id="trip-name">Name of the TOUR as
        determined by the Guide</span>
      <span class="text-24-april-2025_2288-247">24 April 2025</span>
    </div>
    
    <!-- Botón inferior -->
    <div class="banner-footer">
      <div class="button-banner" id="button-banner">
        <app-button label="PHOTO GALLERY" iconPath="assets/svgs/gallery_white.svg" (buttonClick)="onPhotoGalleryClick()"
          strokeColor="white">
        </app-button>
      </div>
    </div>
  </div>
  

  <div class="trip-details-container" id="trip-details">
    <span class="trip-details-title">Your tour on</span>
    <div class="temperature_2284-311">
      <img src="assets/svgs/things_brightness.svg" alt="Things Brightness" class="trip-icons">
      <span class="trip-info">27 C, 60 mph</span>
    </div>
    <div class="time_2284-316">
      <img src="assets/svgs/calendar_alt.svg" alt="Calendar Alt" class="trip-icons">
      <span class="text-24-april-2025_2284-317">24 April 2025</span>
    </div>
    <div class="time_2284-319">
      <span class="text-ribeira-brava_2284-320">Ribeira Brava</span>
    </div>
    <div class="place_2284-321">
      <img src="../../assets/svgs/map_marker.svg" alt="map marker" class="trip-icons">
      <span class="trip-info">Calheta, Madeira</span>
    </div>
    <div class="ribeira-brava_2284-324">
      <img src="assets/svgs/ribeiraBrava.svg" alt="Ribeira Brava" width="124">
    </div>
    <div class="group-35_2288-249">
      <img src="assets/svgs/clock.svg" alt="Clock" class="trip-icons">
      <span class="trip-info">9:30 am</span>
    </div>
  </div>

  <div class="sightings-container" id="sightings">
    <h2 class="sightings-title">Our Sightings</h2>
    <div class="sightings-grid">
      <app-sighting-row *ngFor="let sighting of sightings" [speciesName]="sighting.speciesName"
        [speciesDescription]="sighting.speciesDescription" [speciesIcon]="sighting.speciesIcon">
      </app-sighting-row>
    </div>
  </div>
  <div class="trip-footer-container" id="footer">
    <div class="button-footer">
      <app-button label="PHOTO GALLERY" iconPath="assets/svgs/gallery_black.svg" (buttonClick)="onPhotoGalleryClick()"
        strokeColor="#222222">
      </app-button>
    </div>
  </div>
</div>