.home_2284-292 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 375px;
  height: 1807px;
}
.mementos_2284-293 {
  top: 1230px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 375px;
  height: 160px;
}
.button-upload-and-print_2284-294 {
  top: 40px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 327px;
  height: 60px;
}
.rectangle-69_2284-296 {
  top: 0px;
  left: -4px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-39_2288-314 {
  top: 19px;
  left: 93px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_2288-315 {
  display: flex;
}

.vector_2288-316 {
  display: flex;
}

.text-label_2288-317 {
  top: 19px;
  left: 127px;
  position: absolute;
  display: flex;
  color: #222222;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 105px;
  height: 22px;
}

.our-hosts_2284-300 {
  top: 902px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #d9d9d9;
  width: 375px;
  height: 328px;
}
.text-our-sightings_2284-301 {
  top: 20px;
  left: 19px;
  position: absolute;
  display: flex;
  color: #090909;
  font-size: 14px;
  font-family: IBM Plex Mono;
  line-height: 24px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 165px;
  height: 20px;
}

.group-18_2284-302 {
  top: 60px;
  left: 191px;
  position: absolute;
  display: flex;
  width: 164px;
  height: 84px;
}
.text-physeter-macrocephalus_2284-303 {
  color: #090909;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 16px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 164px;
  height: 23px;
}

.text-lorem-ipsum-dolor-sit-amet--consectetur-adipiscing-elit--sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-_2284-304 {
  color: #090909;
  font-size: 10px;
  font-family: Montserrat;
  line-height: 12px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  width: 164px;
  height: 53px;
}

.group-17_2284-305 {
  top: 184px;
  left: 191px;
  position: absolute;
  display: flex;
  width: 164px;
  height: 83px;
}
.text-tursiops-truncatus_2284-306 {
  color: #090909;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 16px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 164px;
  height: 23px;
}

.text-lorem-ipsum-dolor-sit-amet--consectetur-adipiscing-elit--sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-_2284-307 {
  color: #090909;
  font-size: 10px;
  font-family: Montserrat;
  line-height: 12px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  width: 164px;
  height: 52px;
}

.vector-2_2284-308 {
  top: 98px;
  left: 23px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector-4_2284-309 {
  top: 225px;
  left: 35px;
  position: absolute;
  display: flex;
  display: flex;
}

.trip-details_2284-310 {
  top: 610px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 375px;
  height: 292px;
}
.temperature_2284-311 {
  top: 233px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 189px;
  height: 19px;
}
.text-27-c--60-mph_2284-312 {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 156px;
  height: 19px;
}

.objects---things-brightness_2284-313 {
  position: relative;
  width: 14px;
  height: 14px;
}

.time_2284-316 {
  top: 154px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 189px;
  height: 19px;
}
.text-24-april-2025_2284-317 {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 156px;
  height: 19px;
}

.objects---things-calendar-alt_2284-318 {
  position: relative;
  width: 14px;
  height: 14px;
}

.time_2284-319 {
  top: 121px;
  left: 198px;
  position: absolute;
  display: flex;
  width: 156px;
  height: 19px;
}
.text-ribeira-brava_2284-320 {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 156px;
  height: 19px;
}

.place_2284-321 {
  top: 207px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 188px;
  height: 19px;
}
.text-calheta--madeira_2284-322 {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 156px;
  height: 19px;
}

.navigation---transportation-map-marker_2284-323 {
  position: relative;
  width: 14px;
  height: 14px;
}

.ribeira-brava_2284-324 {
  top: 35px;
  left: 187px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-35_2288-249 {
  top: 180px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 189px;
  height: 19px;
}
.time_2284-314 {
  width: 156px;
  height: 19px;
}
.text-9-30-am_2284-315 {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 156px;
  height: 19px;
}

.noun-hour-7367172-1_2284-325 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2284-326 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2284-327 {
  top: 3px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.banner_2284-328 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 376px;
  height: 610px;
}
.background_2284-329 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.button-go-to-gallery_2284-330 {
  top: 510px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 327px;
  height: 60px;
}
.rectangle-69_2284-332 {
  top: 0px;
  left: -4px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-38_2288-309 {
  top: 19px;
  left: 94px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_2288-310 {
  display: flex;
}

.vector_2288-311 {
  display: flex;
}

.text-label_2288-312 {
  top: 19px;
  left: 128px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 105px;
  height: 22px;
}

.text-name-of-the-tour-as-determined-by-the-guide_2284-334 {
  top: 152px;
  left: 20px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 64px;
  font-family: Bebas Neue;
  line-height: 70px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 336px;
  height: 264px;
}

.frame-2_2294-473 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 376px;
  height: 132px;
}
.rectangle-96_2294-472 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-34_2288-246 {
  top: 61px;
  left: 20px;
  position: absolute;
  display: flex;
  width: 119px;
  height: 51px;
}
.text-label_2288-242 {
  color: #ffffff;
  font-size: 20px;
  font-family: Bebas Neue;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 83px;
  height: 20px;
}

.arrows-chevron-right-sm_2288-243 {
  position: relative;
  width: 20px;
  height: 20px;
}

.text-photogallery_2294-474 {
  color: #ffffff;
  font-size: 24px;
  font-family: Bebas Neue;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 42px;
  height: 24px;
}

.gallery-icon_2294-475 {
  display: flex;
}
.rectangle-95_2294-476 {
  display: flex;
}

.group-39_2294-477 {
  width: 16px;
  height: 18px;
}
.vector_2294-478 {
  display: flex;
}

.vector_2294-479 {
  display: flex;
}

.text-24-april-2025_2288-247 {
  top: 436px;
  left: 29px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 20px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 116px;
  height: 10px;
}

.text-your-tour-on_2284-335 {
  top: 630px;
  left: 34px;
  position: absolute;
  display: flex;
  color: #090909;
  font-size: 14px;
  font-family: IBM Plex Mono;
  line-height: 20px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 332px;
  height: 14px;
}