.trip-main-container {
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.trip-footer-container {
  margin-top: 40px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 100%;
  height: 160px;
}
.button-footer {
  top: 40px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 327px;
  height: 60px;
}
.rectangle-69_2284-296 {
  top: 0px;
  left: -4px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-39_2288-314 {
  top: 19px;
  left: 93px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_2288-315 {
  display: flex;
}

.vector_2288-316 {
  display: flex;
}

.sightings-container {
  margin: 40px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: visible;
  background: #d9d9d9;
  width: 100%;
  height: auto;
  min-height: 328px;
  padding: 20px 19px;
}
.sightings-title {
  margin: 0 0 20px 0;
  color: #090909;
  font-size: 14px;
  font-family: IBM Plex Mono;
  line-height: 24px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
}

.sightings-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.trip-details-container {
  margin: 40px auto 0;
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 100%;
  height: auto;
  min-height: 292px;
}
.temperature_2284-311 {
  top: 233px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 189px;
  height: 19px;
}

.time_2284-316 {
  top: 154px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 189px;
  height: 19px;
}
.text-24-april-2025_2284-317 {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 156px;
  height: 19px;
}

.objects---things-calendar-alt_2284-318 {
  position: relative;
  width: 14px;
  height: 14px;
}

.time_2284-319 {
  top: 121px;
  left: 198px;
  position: absolute;
  display: flex;
  width: 156px;
  height: 19px;
}
.text-ribeira-brava_2284-320 {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 156px;
  height: 19px;
}

.place_2284-321 {
  top: 207px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 188px;
  height: 19px;
}
.trip-info {
  color: #1b1b1b;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 156px;
  height: 19px;
}

.trip-icons {
  height: 0.8rem;
  right: 0.2rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  margin-right: 1.3rem;
}

.ribeira-brava_2284-324 {
  top: 35px;
  left: 187px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-35_2288-249 {
  top: 180px;
  left: 164px;
  position: absolute;
  display: flex;
  width: 189px;
  height: 19px;
}

.vector_2284-326 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2284-327 {
  top: 3px;
  left: 7px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-69_2284-332 {
  top: 0px;
  left: -4px;
  position: absolute;
  display: flex;
  display: flex;
}

.group-38_2288-309 {
  top: 19px;
  left: 94px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_2288-310 {
  display: flex;
}

.vector_2288-311 {
  display: flex;
}

.text-label_2288-312 {
  top: 19px;
  left: 128px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 22px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 105px;
  height: 22px;
}

.top-banner-title {
  color: #ffffff;
}

.navigation-item {
  color: #ffffff;
}

.navigation-item-selected {
  color: #ffffff;
}

.trip_gallery-icon {
  display: flex;
}
.rectangle-95_2294-476 {
  display: flex;
}

.vector_2294-478 {
  display: flex;
}

.vector_2294-479 {
  display: flex;
}
.top-banner-info {
  color: #222222;
}

.trip-details-title {
  top: 30px;
  left: 34px;
  position: relative;
  display: flex;
  color: #090909;
  font-size: 14px;
  font-family: IBM Plex Mono;
  line-height: 20px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 100%;
  height: 14px;
}