<div class="trip-main-container">
  
  <div class="top-banner" id="tripBanner">
    <div class="top-banner-background">
      <img id="image0_2284_329" height="621"
        src="https://storage.googleapis.com/lobosondaphotos.appspot.com/_DSC5496.JPG-1767009063527" />
    </div>
    
    <!-- Navegación superior -->
    <div class="banner-navigation" id="banner-navigation">
      <div class="navigation-rectangle">
        <div class="navigation-internal-rectangle">
          <!-- Primera línea: icono + título actual -->
          <div class="navigation-current-line">
            <div class="trip_gallery-icon">
              <img src="assets/svgs/gallery_white.svg" alt="Gallery" width="24" height="24">
            </div>
            <span class="navigation-item-selected">TOUR DETAILS</span>
          </div>
          <!-- Segunda línea: flecha + navegación anterior -->
          <div class="navigation-back-line" (click)="onBackToTrips()" style="cursor: pointer;">
            <app-arrows-chevron-left class="arrows-chevron-left-sm" color="white"></app-arrows-chevron-left>
            <span class="navigation-item">CHANGE TOUR</span>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Título central -->
    <div class="top-banner-content">
      <span class="top-banner-title" id="trip-name">{{ tripName }}</span>
      <span class="text-24-april-2025_2288-247">{{ tripDate }} at {{ tripTime }}</span>
    </div>
    
    <!-- Botón inferior -->
    <div class="banner-footer">
      <div class="button-banner" id="button-banner">
        <app-button label="PHOTO GALLERY" iconPath="assets/svgs/gallery_white.svg" (buttonClick)="onPhotoGalleryClick()"
          strokeColor="white">
        </app-button>
      </div>
    </div>
  </div>
  

  <div class="trip-details-container" id="trip-details">
    <span class="trip-details-title">Your tour on</span>
    <div class="capsule-trip-temperature">
      <img src="assets/svgs/things_brightness.svg" alt="Things Brightness" class="trip-icons">
      <span class="trip-info">{{ tripTemp }}, {{ tripWind }}</span>
    </div>
    <div class="time_2284-316">
      <img src="assets/svgs/calendar_alt.svg" alt="Calendar Alt" class="trip-icons">
      <span class="capsule-trip-date">{{ tripDate }}</span>
    </div>
    <div class="time_2284-319">
      <span class="text-ribeira-brava_2284-320">{{ tripBoat }}</span>
    </div>
    <div class="place_2284-321">
      <img src="../../assets/svgs/map_marker.svg" alt="map marker" class="trip-icons">
      <span class="trip-info">Guide: {{ tripGuide }}</span>
    </div>
    <div class="ribeira-brava_2284-324">
      <img src="assets/svgs/ribeiraBrava.svg" alt="Ribeira Brava" width="124">
    </div>
    <div class="group-35_2288-249">
      <img src="assets/svgs/clock.svg" alt="Clock" class="trip-icons">
      <span class="trip-info">{{ tripTime }}</span>
    </div>
  </div>

  <div class="sightings-container" id="sightings">
    <h2 class="sightings-title">Our Sightings</h2>
    <div class="sightings-grid">
      <app-sighting-row *ngFor="let sighting of sightings" [speciesName]="sighting.specieName"
        [speciesDescription]="sighting.specieDescription" [speciesIcon]="'assets/svgs/dolphin.svg'">
      </app-sighting-row>
    </div>
  </div>
  <div class="trip-footer-container" id="footer">
    <div class="button-footer">
      <app-button label="PHOTO GALLERY" iconPath="assets/svgs/gallery_black.svg" (buttonClick)="onPhotoGalleryClick()"
        strokeColor="#222222">
      </app-button>
    </div>
  </div>
</div>