.objects---things-calendar-alt_3-1850 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}
.vector_3-1851 {
  top: 1px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}