<div class="mementos-white-container">
  <div class="mementos-white-card">
    <div class="logo-container">
      <img src="assets/svgs/logo.svg" alt="Logo" class="logo">
    </div>
    <span class="mementos-titles">HeLLO BENIGNO LUCRÉCIO!</span>
    <span class="mementos-sub-title">Which tour would you like to access?</span>
    <div class="mementos-white-content">
      <!-- First Tour Button -->
      <div class="mementos-tour-button">
        <div class="rectangle-94_2284-1197"></div>
        <div class="tour-icon">
          <img src="assets/svgs/ribeiraBrava.svg" alt="Boat Icon" class="icon">
        </div>
        <div class="tour-date">
          <span>24 April 2025</span>
        </div>
        <div class="tour-arrow">
          <app-arrows-chevron-right-sm></app-arrows-chevron-right-sm>
        </div>
      </div>

      <!-- Second Tour Button -->
      <div class="mementos-tour-button">
        <div class="rectangle-94_2284-1223"></div>
        <div class="tour-icon-2">
          <img src="assets/svgs/stenella.svg" alt="Boat Icon" class="icon">
        </div>
        <div class="tour-date">
          <span>07 November 2020</span>
        </div>
        <div class="tour-arrow">
          <app-arrows-chevron-right-sm></app-arrows-chevron-right-sm>
        </div>
      </div>
      <div class="mementos-footer">
        <div class="social-media_2284-1185">
          <span class="text-email_2284-1186">Privacy Policy</span>
        </div>
      </div>
    </div>

  </div>
</div>