<div class="mementos-white-container">
  <div class="mementos-white-card">
    <div class="logo-container">
      <img src="assets/svgs/logo.svg" alt="Logo" class="logo">
    </div>
    <span class="mementos-titles">HeLLO BENIGNO LUCRÉCIO!</span>
    <span class="mementos-sub-title">Which tour would you like to access?</span>
    <div class="mementos-white-content">
      <div class="mementos-tour-button">
        <div class="rectangle-94_2284-1197">
          <svg width="335" height="60" viewBox="0 0 335 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="334" height="58.54" rx="7.5" fill="white" stroke="black" />
          </svg>
        </div>
        <div class="ribeira-brava_2284-1214">
          <img src="assets/svgs/ribeiraBrava.svg" alt="Ribeira Brava" class="logo">
        </div>
        <app-arrows-chevron-right-sm class="arrows-chevron-right-sm_2284-1216"></app-arrows-chevron-right-sm>
        <div class="time_2284-1206">
          <span class="text-24-april-2025_2284-1207">24 April 2025</span>
        </div>
      </div>

      <div class="mementos-tour-button">
        <div class="rectangle-94_2284-1223">
          <svg width="335" height="60" viewBox="0 0 335 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.5" width="334" height="58.54" rx="7.5" fill="white" stroke="black" />
          </svg>
        </div>
        <app-arrows-chevron-right-sm class="arrows-chevron-right-sm_2284-1225"></app-arrows-chevron-right-sm>
        <div class="time_2284-1226">
          <span class="text-07-november-2020_2284-1227">07 November 2020</span>
        </div>
        <div class="rib-boat-icon-1_2285-281">
          <img src="assets/svgs/stenella.svg" alt="Logo" class="logo">
        </div>
      </div>
      <div class="mementos-footer">
        <div class="social-media_2284-1185">
          <span class="text-email_2284-1186">Privacy Policy</span>
        </div>
      </div>
    </div>

  </div>
</div>