.rectangle-69_2284-1173 {
  top: 0px;
  left: -4px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-label_2284-1174 {
  top: 18px;
  left: 134px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 58px;
  height: 28px;
}

.social-media_2284-1185 {
  left: 19px;
  position: relative;
  display: flex;
  width: 336px;
  height: 10px;
}

.text-email_2284-1186 {
  color: #3983da;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 24px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 336px;
  height: 10px;
}

.image-2_2284-1189 {
  top: 10px;
  left: 116px;
  position: absolute;
  display: flex;
  display: flex;
}

.mementos-tour-button {
  margin-top: 1rem;
  left: 20px;
  position: relative;
  display: flex;
  width: 335px;
  height: 60px;
}
.rectangle-94_2284-1197 {
  display: flex;
}

.ribeira-brava_2284-1214 {
  display: flex;
}

.arrows-chevron-right-sm_2284-1216 {
  position: relative;
  width: 24px;
  height: 24px;
}

.time_2284-1206 {
  width: 160px;
  height: 19px;
}
.text-24-april-2025_2284-1207 {
  color: #1b1b1b;
  font-size: 14px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 160px;
  height: 19px;
}

.rectangle-94_2284-1223 {
  display: flex;
}

.arrows-chevron-right-sm_2284-1225 {
  position: relative;
  width: 24px;
  height: 24px;
}

.time_2284-1226 {
  width: 160px;
  height: 19px;
}
.text-07-november-2020_2284-1227 {
  color: #1b1b1b;
  font-size: 14px;
  font-family: IBM Plex Mono;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 160px;
  height: 19px;
}

.rib-boat-icon-1_2285-281 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2285-282 {
  top: 42px;
  left: 11px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2285-283 {
  top: 38px;
  left: 17px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2285-284 {
  top: 41px;
  left: 43px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2285-285 {
  top: 29px;
  left: 42px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2285-286 {
  top: 33px;
  left: 15px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2285-287 {
  top: 32px;
  left: 47px;
  position: absolute;
  display: flex;
  display: flex;
}
