.arrows-chevron-right-sm_3-939 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_3-940 {
  top: 7px;
  left: 9px;
  position: absolute;
  display: flex;
  display: flex;
}