
.objects---things-brightness_3-1811 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}
.vector_3-1812 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}