<div class="upload-photo_2284-607">
  <div class="phone-gallery-pop-up_2284-609">
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-612"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-613"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-614"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-615"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-616"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-617"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-618"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-619"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-620"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-621"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-622"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-623"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-624"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-625"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-626"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-627"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-628"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-629"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-630"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-631"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-632"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-633"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-634"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-635"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-636"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-637"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-638"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-639"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-640"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-641"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-642"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-643"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-644"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-645"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-646"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-647"
    ></app-photo-from-my-phone>
    <app-photo-from-my-phone
      [property1]="'Default'"
      class="photo-from-my-phone_2284-648"
    ></app-photo-from-my-phone>
  </div>
  <div class="pop-up--upload_2284-649">
    <div class="button-upload_2284-650">
      <div class="rectangle-83_2284-651">
        <svg
          width="159"
          height="40"
          viewBox="0 0 159 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="158" height="39" fill="white" />
          <rect x="0.5" y="0.5" width="158" height="39" fill="#8C8C8C" />
          <rect x="0.5" y="0.5" width="158" height="39" stroke="#8C8C8C" />
        </svg>
      </div>
      <span class="text-label_2284-652">UPLOAD (0)</span>
    </div>
    <div class="input-add-description_2284-653">
      <div class="rectangle-84_2284-654">
        <svg
          width="336"
          height="46"
          viewBox="0 0 336 46"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.25"
            y="0.25"
            width="335.5"
            height="45.5"
            stroke="black"
            stroke-width="0.5"
          />
        </svg>
      </div>
      <span class="text-add-a-caption-or-description---_2284-655"
        >Add a caption or description...</span
      >
    </div>
    <div class="button-cancel_2284-656">
      <div class="rectangle-69_2284-657">
        <svg
          width="74"
          height="40"
          viewBox="0 0 74 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="73" height="39" stroke="#222222" />
        </svg>
      </div>
      <span class="text-label_2284-658">Cancel</span>
    </div>
    <span
      class="text-by-clicking-upload-you-agree-to-the-terms---conditions-_2284-659"
      >By clicking UPLOAD you agree to the Terms & Conditions.</span
    >
    <div class="group-29_2284-660">
      <div class="button-cancel_2284-661">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="11" height="11" stroke="#222222" />
        </svg>
      </div>
      <span class="text-only-you-can-view_2284-663">Only you can view </span>
    </div>
    <div class="group-30_2284-664">
      <div class="button-cancel_2284-665">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" y="0.5" width="11" height="11" stroke="#222222" />
        </svg>
      </div>
      <span class="text-only-you-can-share_2284-667">Only you can share</span>
    </div>
    <span
      class="text-choose-how-your-pictures-are-used-on-this-platform-_2284-672"
      >Choose how your pictures are used on this platform.</span
    >
  </div>
</div>