@use '../../../_tokens' as tokens;

.upload-photo_2284-607 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 375px;
  height: 873px;
}
.phone-gallery-pop-up_2284-609 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #222222;
  border-style: solid;
  border-width: 0.5px;
  background: #ffffff;
  width: 375px;
  height: 873px;
}
.photo-from-my-phone_2284-612 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-613 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-614 {
  top: 8px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-615 {
  top: 8px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-616 {
  top: 8px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-617 {
  top: 103px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-618 {
  top: 103px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-619 {
  top: 103px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-620 {
  top: 103px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-621 {
  top: 198px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-622 {
  top: 198px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-623 {
  top: 198px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-624 {
  top: 198px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-625 {
  top: 293px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-626 {
  top: 293px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-627 {
  top: 293px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-628 {
  top: 293px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-629 {
  top: 388px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-630 {
  top: 388px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-631 {
  top: 388px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-632 {
  top: 388px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-633 {
  top: 483px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-634 {
  top: 483px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-635 {
  top: 483px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-636 {
  top: 483px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-637 {
  top: 578px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-638 {
  top: 578px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-639 {
  top: 578px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-640 {
  top: 578px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-641 {
  top: 673px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-642 {
  top: 673px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-643 {
  top: 673px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-644 {
  top: 673px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-645 {
  top: 768px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-646 {
  top: 768px;
  left: 95px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-647 {
  top: 768px;
  left: 190px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.photo-from-my-phone_2284-648 {
  top: 768px;
  left: 285px;
  position: absolute;
  display: flex;
  width: 90px;
  height: 90px;
}

.pop-up--upload_2284-649 {
  top: 523px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #ffffff;
  width: 375px;
  height: 350px;
}
.button-upload_2284-650 {
  top: 204px;
  left: 200px;
  position: absolute;
  display: flex;
  width: 159px;
  height: 40px;
}
.rectangle-83_2284-651 {
  display: flex;
}

.text-label_2284-652 {
  color: tokens.$collection-1-color;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 159px;
  height: 28px;
}

.input-add-description_2284-653 {
  top: 20px;
  left: 23px;
  position: absolute;
  display: flex;
  width: 336px;
  height: 46px;
}
.rectangle-84_2284-654 {
  display: flex;
}

.text-add-a-caption-or-description---_2284-655 {
  color: #8c8c8c;
  font-size: 14px;
  font-family: IBM Plex Sans;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 188px;
  height: 28px;
}

.button-cancel_2284-656 {
  top: 204px;
  left: 111px;
  position: absolute;
  display: flex;
  width: 74px;
  height: 40px;
}
.rectangle-69_2284-657 {
  display: flex;
}

.text-label_2284-658 {
  color: #222222;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 74px;
  height: 28px;
}

.text-by-clicking-upload-you-agree-to-the-terms---conditions-_2284-659 {
  top: 266px;
  left: 111px;
  position: absolute;
  display: flex;
  font-size: 10px;
  font-family: IBM Plex Mono;
  line-height: 12px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 226px;
  height: 24px;
}

.group-29_2284-660 {
  top: 138px;
  left: 111px;
  position: absolute;
  display: flex;
  width: 248px;
  height: 15px;
}
.button-cancel_2284-661 {
  display: flex;
}
.rectangle-69_2284-662 {
  display: flex;
}

.text-only-you-can-view_2284-663 {
  color: #090909;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1%;
  text-decoration: none;
  text-align: left;
  width: 229px;
  height: 15px;
}

.group-30_2284-664 {
  top: 169px;
  left: 111px;
  position: absolute;
  display: flex;
  width: 248px;
  height: 15px;
}
.button-cancel_2284-665 {
  display: flex;
}
.rectangle-69_2284-666 {
  display: flex;
}

.text-only-you-can-share_2284-667 {
  color: #090909;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1%;
  text-decoration: none;
  text-align: left;
  width: 229px;
  height: 15px;
}

.text-choose-how-your-pictures-are-used-on-this-platform-_2284-672 {
  top: 86px;
  left: 111px;
  position: absolute;
  display: flex;
  color: #090909;
  font-size: 12px;
  font-family: IBM Plex Mono;
  line-height: 16px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 248px;
  height: 32px;
}