<button class="custom-button" [disabled]="disabled" (click)="onClick()">
  <div class="button-container" [ngStyle]="buttonStyles">
    <div class="rectangle-border">
      <svg [attr.width]="width" [attr.height]="height" [attr.viewBox]="svgViewBox" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path [attr.d]="getScaledPath()" 
          [attr.stroke]="strokeColor"
          [attr.fill]="backgroundColor"/>
      </svg>
    </div>
    <div class="icon-container" *ngIf="iconPath">
      <img [src]="iconPath" [alt]="label" class="icon">
    </div>
    <span class="button-label" [style.color]="strokeColor">{{ label }}</span>
  </div>
</button>