.photo-detail_2284-421 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 375px;
  height: 902px;
}
.photo_2284-422 {
  top: 102px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.arrows-chevron-left_2284-423 {
  top: 546px;
  left: 20px;
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
}

.arrows-chevron-left_2284-424 {
  top: 570px;
  left: 356px;
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
}

.photo-details---actions_2284-425 {
  top: 590px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #ffffff;
  width: 375px;
  height: 312px;
}
.text-pot-mio-meso_2284-426 {
  top: 20px;
  left: 20px;
  position: absolute;
  display: flex;
  color: #090909;
  font-size: 16px;
  font-family: IBM Plex Mono;
  line-height: 16px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 183px;
  height: 30px;
}

.text-16-april-2025-13-53_2284-427 {
  top: 50px;
  left: 20px;
  position: absolute;
  display: flex;
  color: #090909;
  font-size: 10px;
  font-family: IBM Plex Mono;
  line-height: 24px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 183px;
  height: 12px;
}

.text-lorem-ipsum-dolor-sit-amet--consectetur-adipiscing-elit--sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna--_2284-428 {
  top: 82px;
  left: 106px;
  position: absolute;
  display: flex;
  color: #090909;
  font-size: 12px;
  font-family: Montserrat;
  line-height: 12px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  width: 250px;
  height: 37px;
}

.text-something-not-looking-right-_2288-350 {
  top: 219px;
  left: 191px;
  position: absolute;
  display: flex;
  color: #090909;
  font-size: 8px;
  font-family: Montserrat;
  line-height: 12px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 300;
  text-align: left;
  width: 152px;
  height: 11px;
}

.button-share_2284-429 {
  top: 159px;
  left: 106px;
  position: absolute;
  display: flex;
  width: 78px;
  height: 40px;
}
.rectangle-69_2284-430 {
  display: flex;
}

.text-label_2284-431 {
  color: #222222;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 51px;
  height: 28px;
}

.button-print_2284-432 {
  top: 159px;
  left: 191px;
  position: absolute;
  display: flex;
  width: 165px;
  height: 40px;
}
.rectangle-83_2284-433 {
  display: flex;
}

.text-label_2284-434 {
  color: #ffffff;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 148px;
  height: 28px;
}

.noun-report-8095217-1_2288-346 {
  top: 238px;
  left: 191px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2288-347 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-label_2288-348 {
  top: 238px;
  left: 212px;
  position: absolute;
  display: flex;
  color: #3983da;
  font-size: 14px;
  font-family: Bebas Neue;
  line-height: 14px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 62px;
  height: 14px;
}

.navigation_2284-435 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  background: #ffffff;
  width: 375px;
  height: 103px;
}
.x---expedition-photo_2284-436 {
  top: 58px;
  left: 113px;
  position: absolute;
  display: flex;
  width: 243px;
  height: 25px;
}
.text-photo-gallery_2284-437 {
  color: #222222;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 211px;
  height: 23px;
}

.arrows-chevron-left_2284-438 {
  position: relative;
  width: 24px;
  height: 24px;
}

.x---home_2284-439 {
  top: 58px;
  left: 20px;
  position: absolute;
  display: flex;
  width: 93px;
  height: 25px;
}
.text-home_2284-440 {
  color: #222222;
  font-size: 22px;
  font-family: Bebas Neue;
  line-height: 22px;
  letter-spacing: 1%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 61px;
  height: 23px;
}

.arrows-chevron-left_2284-441 {
  position: relative;
  width: 24px;
  height: 24px;
}