
/* tokens moved to :root CSS variables in src/styles.scss */

.brands-facebook_3-1311 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}
.vector_3-1312 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
