.root {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
}
.overlay {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.checkBox {
  top: 4px;
  left: 62px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}